/**   variables generales  **/
:root{
    /**paleta de colores**/
    --blanco: #ffffff;
    --negro: #000000;
    --azulEmpresarial: #202850;
    --celesteEmpresarial: #00b8e3;
    --grisBordes: #707070;
    --grisTitulos: #91918f;
    --grisParrafos: #cfcfce;
    --fondoPrincipal: #0E1123;
    /** fuentes **/
    --fuentePrincipal: 'Open Sans', sans-serif;
    --fuenteSecundaria: 'Roboto', sans-serif;
    /** tamaños y formato **/
    --sizeTitulos: 7.9rem;
    --sizeSubtitulos: 32rem;
    --sizeMenu: 2rem;
    --kernigTitulos: .9rem;
    --kernigParrafos: .8rem;
}
html {
    box-sizing: border-box;
    font-size: 62.5%; 
}

/* *, *:before, *:after {
    box-sizing: inherit;
} */

body{
    background: var(--fondoPrincipal);
    font-size: 1.6rem;
    line-height: 1.5;
}

h1, h2, h3, h4 {
    font-family: var(--fuentePrincipal);
    color: var(--grisTitulos);
    text-align: center;
}

li, a{
    font-family: var(--fuentePrincipal);
    text-decoration: none;
    list-style: none;
    color: var(--grisParrafos);
    letter-spacing: .8rem;
}

/*------ESTILOS DEL HEADER------*/

header{
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.header__menu{
    margin-right: 4rem;
}

.menu__logo, .logo--img{
    margin-top: 3rem;
    margin-left: 4rem;
}

.menu__lista{
    margin-top: 7rem;
    text-align: right;
}

.menu__li{
    margin-top: 4.3rem;
    transition: .6s ease-in-out;
}

.menu__a{
    font-size: 1.2rem;
}

.header__img,
.img__cont,
.img__cont--1{
    width: 100%;
}

.img__cont--1{
    max-height: 65rem;
    align-items: flex-end;
}

.header__titulo{
    position: absolute;
    bottom: 30%;
}

.titulo__1--prin, .titulo__2--sec{
    text-align: right;
    font-family: var(--fuenteSecundaria);
    letter-spacing: var(--kernigTitulos);
    color: var(--grisTitulos);
}

.titulo__1--prin{
    font-size: var(--sizeTitulos);
    margin: 0;
}

/*------animación de menu------*/

.menu__li:hover{
    background: var(--grisBordes);
    text-align: left;
}

/*------main global cargo------*/

.main__servicios{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.servicios__impexp{
    background-color: rgba(207, 207, 206, 1);
    margin: 20px;
    width: 336px;
    height: 459px;
    padding: 40px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.impexp--flecha{
    display: flex;
    align-items: center;
    margin: 20px;
    margin-left: 10px;
}

.impexp__img1{
    width: 40px;
    height: auto;
}

.impexp__titulo{
    font-size: 28px;
    margin-left: 20px;
    border-bottom: solid rgba(112, 112, 112, 0.5);
    border-width: thin;
    letter-spacing: 7.1px;
}

.impexp__dest{
    color: rgba(112, 112, 112, 1);
    font-size: 17px;
    text-align: left;
    font-weight: 400;
    margin-bottom: 80px;
    margin-top: 40px;
    width: 462px;
    height: auto; 
}

.li__esp1{
    margin:25px;
    color: rgba(0, 0, 0, 1);
    font-size: 20px;
    font-weight: lighter;
    cursor: pointer;
    transition: .5s
}

.main{
    display: flex;
    width: 75%;
    margin: auto;
}

.main__contactos{
    display: block;
}

.mision--parrafo,
.contacto__form{
    margin: 150px;
}

.mision--parrafo{
    font-size: 2.5rem;
    font-style: normal;
    color: var(--grisParrafos);
    font-kerning: var(--kernigParrafos);
    font-family: var(--fuentePrincipal);
}