/**   variables generales  **/
:root{
    /**paleta de colores**/
    --blanco: #ffffff;
    --negro: #000000;
    --azulEmpresarial: #2b3256;
    --celesteEmpresarial: #06bce7;
    --grisBordes: #707070;
    --grisTitulos: #91918f;
    --grisParrafos: #cfcfce;
    --fondoPrincipal: #0E1123;
    --colorDescripcion: #232121;
    /** fuentes **/
    --fuentePrincipal: 'Open Sans', sans-serif;
    --fuenteSecundaria: 'Roboto', sans-serif;
    /** tamaños y formato **/
    --sizeTitulos: 7.9rem;
    --sizeSubtitulos: 2.2rem;
    --sizeMenu: 90%;
    --sizeParrafos: calc(100% + 5px);
    --sizeParrafos2: 95%;
    --sizeDescrip: 1.5rem;
    --sizeCopy:70%;
    --sizeFooter: 80%;
    --kernigTitulos: .9rem;
    --kernigParrafos: .8rem;
    /** margenes en procentaje **/
    --marginTop: 6%;
    --marginLi: 12%;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    background: var(--fondoPrincipal);
    font-size: 1.6rem;
    line-height: 1.5;
    user-zoom: none;
}

h1, h2, h3, h4 {
    font-family: var(--fuentePrincipal);
    color: var(--grisTitulos);
    text-align: center;
}

li, a{
    font-family: var(--fuentePrincipal);
    text-decoration: none;
    list-style: none;
    color: var(--grisParrafos);
    letter-spacing: .8rem;
}