/**   ESTILOS GLOBALES  **/
:root{
    --fondoPrincipal: #232121;
    --grisBordes: #707070;
    --blanco: #ffffff;
    --negro: #000000;
    --azulEmpresarial: #202850;
    --celesteEmpresarial: #00b8e3;
    --grisTitulos: #91918f;
    --grisParrafos: #cfcfce;
    --fuenteParrafos: Open Sans;
    --fuenteSubtitulos: OpenSans;
    --fuenteMenu: Opensans;
    --fuenteTitulos: Roboto;
    --sizeTitulos: 101rem;
    --sizeSubtitulos: 32rem;
    --sizeMenu: 2rem;

}

body{
    background: #0E1123;
    font-size: 62%;
}

h1 {
    font-size: var(--sizeTitulos);
    font-family: var(--fuenteTitulos);
    font-weight: bold;
    color: var(--grisTitulos);
    
}

li a{
    font-family: var(--fuenteMenu);
    font-size: var(--sizeMenu);
    color: var(--grisParrafos);
    list-style: none;   
}

a {
    text-decoration: none;
}