/*------main global cargo------*/

.main{
    display: flex;
    width: 1920px;
    margin: auto;
}

.main__servicios{
    place-items: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding-top: 300px;
}

.servicios__impexp{
    background-color: rgba(207, 207, 206, 1);
    margin: 3.2rem;
    width: 336px;
    height: 459px;
    padding: 40px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.impexp--encabezado{
    display: flex;
    align-items: center;
    margin:0;
}

.impexp__titulo{
    font-size: var(--sizeSubtitulos);
    font-weight: bold;
    font-family: var(--fuentePrincipal);
    letter-spacing: 0.22em;
    line-height: 57px;
    text-align: left;
    color:var(--negro);
    margin:0;
}

.titulo--icon{
    fill: rgba(0,184,227,1);
    overflow: visible;
	width: 39.577px;
	height: 34.272px;
	left: 363.746px;
	top: 36.728px;
	transform: matrix(1,0,0,1,0,0);
}

.impexp__dest{
    font-family: var(--fuentePrincipal);
    font-weight: normal;
    font-size: var(--sizeDescrip);
    text-align: justify;
    letter-spacing: 0.17em;
    color: var(--colorDescripcion);
    user-select: none;
}

.impexp__li{
    margin-top: var(--marginLi);
}

.li__esp{
    font-family: var(--fuentePrincipal);
    font-weight: bold;
    font-size: var(--sizeMenu);
    text-align: left;
    cursor: pointer;
    margin-top: var(--marginTop);
}

.esp--link{
    color: var(--azulEmpresarial);
    margin: 9px;
    letter-spacing: 0.06em;
}

.main__contactos{
    display: block;
    margin-top: 350px;
}

.mision--parrafo,
.contacto__form{
    margin: 150px;
}

.mision--parrafo{
    width: 1022px;
    font-size: var(--sizeParrafos);
    font-style: normal;
    color: var(--grisParrafos);
    font-kerning: var(--kernigParrafos);
    font-family: var(--fuentePrincipal);
    user-select: none;
}
/*=========================<>=========================
    ----------ESTILOS PÁGINA PREGUNTAS FRECUENTES-------
                PREGUTNAS FRECUENTES**/
                
h2.titulo--FAQ,.headerFAQ__titulo{
    font-size: var(--sizeTitulos);
}

.titulo--FAQ{
    margin-left: 15%;
    padding: 0%;
    text-align: left;
}                
.master{
    display: flex;
    justify-content: space-between;
}

/** header**/

.FAQ__preguntas{
    /* margin-top: 13%; */
    margin-right: 5%;
    width: 50%;
    border-radius: 0px 0px 0px 33px;
    background: var(--blanco);
    border: 1px solid var(--grisBordes);

}

.preguntas__subtitulo{
    font-family: var(--fuenteSecundaria);
    font-weight: 900;
    font-size: var(--sizeMenu);
    letter-spacing: 0.3em;
    line-height: 34px;
    text-align: left;
    color: var(--negro);
    margin: 25px 0 0 20px;

}

.respuesta{
    font-family: var(--fuentePrincipal);
    font-weight: normal;
    font-size: var(--sizeParrafos2);
    letter-spacing: 0.17em;
    text-align: left;
    color: #232121;
    margin: 0 0 10px 30px;
}

/* estilos de descripción */

.hedaerFAQ__des{
    width: 50%;
    margin: 200px ;
}

.des--FAQ{
    font-family: var(--fuentePrincipal);
    font-weight: bold;
    font-size: var(--sizeParrafos);
    letter-spacing: 0.39em;
    line-height: 51px;
    text-align: left;
    color: var(--grisParrafos);
}

/* estilos direcciones de paises */

.headerDIR{
    margin: 80px;
    padding: 0%;
    text-align: center;
}


.headerDIR__paises{
    margin: auto;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.paises--layout{
    display: flex;
    justify-content: space-around;
}

.paises{
    width: 381px;
    margin: 50px;
    background: yellow;
}

.paises2{
    place-content: center;
    width: 912px;
    margin: 5px 0 0 50px; */

}

.paises--dir{
    font-family: var(--fuentePrincipal);
    font-weight: bold;
    font-size: var(--fuenteParrafos);
    letter-spacing: 0.39em;
    line-height: 51px;
    text-align: left;
    color: var(--grisParrafos);
}