html{
    scroll-behavior: smooth;
}
/*------main global cargo------*/

.main{
    display: flex;
    width: 90%;
    margin: auto;
}

.main__servicios{
    place-items: center;
    display:flex;
    flex-direction: column;
    /* justify-content: center;*/
    margin-top: 150px; 
    /* padding-top: 300px; */
}

.servicios__impexp{
    background-color: rgba(207, 207, 206, 1);
    margin: 5rem auto;
    width: 336px;
    padding: 40px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.impexp--encabezado{
    display: flex;
    align-items: center;
    margin:0 auto;
}

.impexp__titulo{
    font-size: var(--sizeSubtitulos);
    font-weight: bold;
    font-family: var(--fuentePrincipal);
    letter-spacing: 0.22em;
    line-height: 57px;
    text-align: left;
    color:var(--negro);
    margin:0;
}

.titulo--icon{
    fill: rgba(0,184,227,1);
    overflow: visible;
	width: 39.577px;
	height: 34.272px;
	left: 363.746px;
	top: 36.728px;
	transform: matrix(1,0,0,1,0,0);
}

.impexp__dest{
    font-family: var(--fuentePrincipal);
    font-weight: normal;
    font-size: var(--sizeDescrip);
    text-align: justify;
    letter-spacing: 0.17em;
    color: var(--colorDescripcion);
    user-select: none;
}

.impexp__li{
    margin-top: var(--marginLi);
}

.li__esp{
    font-family: var(--fuentePrincipal);
    font-weight: bold;
    font-size: var(--sizeLi);
    text-align: left;
    cursor: pointer;
    margin-top: var(--marginTop);
}

.esp--link {
    color: var(--azulEmpresarial);
    margin: 9px;
    letter-spacing: 0.06em;
}

.main__contactos{
    display: block;
    margin-top: 350px;
}

.titulo_form{
    font-size: 25px;
}

.mision--parrafo,
.contacto__form{
    margin-left: 50px;
}

.contacto__form{
    margin-top: 120px;
    margin-left: 40px;
}

.mision--parrafo{
    width: 100%;
    font-size: var(--sizeParrafos);
    font-style: normal;
    color: var(--grisParrafos);
    font-kerning: var(--kernigParrafos);
    font-family: var(--fuentePrincipal);
    user-select: none;
}

.impex__boton{
    width: 210px;
    height: 57px;
    background-color: tomato;
}

.boton--info{
    color: var(--azulEmpresarial);
    font-weight: bolder;
    margin-top: 50px;
    transition: .5s;
}

.boton--info:hover{
    font-size: 20px;
}




/*==================================================*/
    /*----------ESTILOS PÁGINA PREGUNTAS FRECUENTES-------*/
                /*PREGUTNAS FRECUENTES*/

.paginas{
    position: fixed;
}

h2.titulo--FAQ,.headerFAQ__titulo{
    font-size: var(--sizeTitulos);
}

.titulo--FAQ{
    margin-left: 15%;
    padding: 0%;
    text-align: left;
}                
.master{
    display: flex;
    justify-content: space-between;
}

/** header**/

.FAQ__preguntas{
    /* margin-top: 13%; */
    margin-right: 5%;
    width: 50%;
    border-radius: 0px 0px 0px 33px;
    background: var(--blanco);
    border: 1px solid var(--grisBordes);
}

.preguntas__subtitulo{
    font-family: var(--fuenteSecundaria);
    font-weight: 900;
    font-size: var(--sizeLi);
    letter-spacing: 0.3em;
    line-height: 34px;
    text-align: left;
    color: var(--negro);
    margin: 25px 0 0 20px;

}

.respuesta{
    font-family: var(--fuentePrincipal);
    font-weight: normal;
    font-size: var(--sizeParrafos2);
    letter-spacing: 0.17em;
    text-align: left;
    color: #232121;
    margin: 0 0 10px 30px;
}

/* estilos de descripción */

.hedaerFAQ__des{
    width: 50%;
    margin: 200px ;
}

.des--FAQ{
    font-family: var(--fuentePrincipal);
    font-weight: bold;
    font-size: var(--sizeParrafos);
    letter-spacing: 0.39em;
    line-height: 51px;
    text-align: left;
    color: var(--grisParrafos);
}

/* estilos direcciones de paises */

.headerDIR{
    margin: 80px;
    padding: 0%;
    text-align: center;
}


.headerDIR__paises{
    margin: auto;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.paises--layout{
    display: flex;
    justify-content: space-around;
}

.paises{
    width: 381px;
    margin: 50px;
}

.paises2{
    place-content: center;
    width: 912px;
    margin: 5px 0 0 50px;

}

.paises--dir{
    font-family: var(--fuentePrincipal);
    font-weight: bold;
    font-size: var(--fuenteParrafos);
    letter-spacing: 0.39em;
    line-height: 51px;
    text-align: left;
    color: var(--grisParrafos);
}


/*--------ESTILOS DE FOTOS Y INFO DE CONTACTOS ------*/
/* .direcctorio__datos{
    margin: 25px;
} */

.contactos--whatsapp{
    font-weight: bold;
    transition: 0.5s;
}

.contactos--whatsapp:hover{
    font-size: 27px;
}

.directo__telf{
    margin: 50px;
}

.datos--foto{
    width: 261px;
}

.gc__redes{
    display: flex;
    margin: 50px;
}

.redes__icon{
    cursor: pointer;
}

.icon{
    width: 55px;
    height: 55px;
    object-fit: cover;
}


/*-----ESTILOS DE PAGINA DE EXPORTACION-----*/
/*-----ESTILOS IMPORTACION Y EXPOTACION------*/
.principal{
    display: flex;
}

.aside{
    display: flex;
    flex-direction: column;
    border-radius: 0 10px;
    background-color: #bcbee3;
    height: 500px ;
    font-weight: bold;
    letter-spacing: .2em;
    margin: 20px;
    position: sticky;
    top:20px;
}

.export{
    max-height: 180px;
}

.aside__link{
    color: var(--azulEmpresarial);
    margin-top: 20px;
    padding-left: 9px;
    cursor: pointer;
    font-size: 1.2rem;
    text-transform: uppercase;
    transition: .5s;
}

.aside__link:hover{
    transform: scale(.9);
    background-color: rgb(252, 252, 167);
}

.regresar{
    color:whitesmoke;
    text-align: right;
}

.regresar:hover{
    background-color: whitesmoke;
    color: var(--azulEmpresarial);
}

.expos{
    display: flex;
    flex-direction: column;
    width: 900px;
    margin-right: 25px;

}

.parrafo1{
    color: var(--grisParrafos);
    text-align: justify;
}

.imagen1{
    width: 900px;
    margin: auto;
}

.imagen2{
    width: 450px;
    /* margin: auto; */
    margin-bottom: 50px;
    margin-top: 20px;
}

.lista2{
    font-weight: bolder;
    list-style: visible;
    font-size: var(--listas);
}

.sub__lista3{
    margin: 30px;
}

.lista3{
    font-style: italic;
    list-style-type: square;
}

.enlace1{
    font-style: oblique;
    font-weight: bolder;
    text-decoration: underline green;
    text-decoration-style:solid;
    text-transform: uppercase;
}

.lista4{
    font-style: italic;
    list-style-type: disc;
    margin: 15px;
    font-weight: lighter;
}

.lista5{
    list-style: visible;
}

.listas6{
    list-style: visible;
    margin-top: 25px;
    list-style-type: square;
}

.titulo__nota{
    text-transform: uppercase;
    font-weight: bolder;
    font-size: var(--notaTitulo);
}

.nota1{
    right: 0;
    width: 700px;
    font-weight: lighter;
    font-style: italic;
    font-size: var(--nota1);
    text-align: justify;
}

.sub__tituloh3{
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
}

.asesoria{
    margin-left: 50%;
}

.foto1{
    width: 100px;
}

.notas{
    font-size: 14px;
}


/*estilos de pagina de asesorias*/
.p_asesorias{
    width: 80%;
    margin: auto;
}


/*==================================================*/
    /*----------MEDIAQUERYS RESPONSIVE-------*/
                /*GLOBAL CARGO*/
@media screen and (max-width:450px){
    .main{
        background-color: #e5e5f7;
        opacity: 0.5;
        background-image: radial-gradient(#1822e0 0.4px, #e5e5f7 0.4px);
        background-size: 8px 8px;
        display: flex;
        flex-direction: column;
        min-width: 100%;
        max-width: 100%;
        }

        .contacto__mision{
        display: none;
        }

        .main__servicios{
            padding: 0;
            margin: 0;
            }

        .main__contactos{
            margin: 0 auto;
            }

        .contacto__form{
            margin: 50px 0;
            }

        .servicios__impexp{
            background-color: #fff;
            z-index: 1;
            }

/* mediaexporimport */
        .principal,
        .contactos{
            display: block;
            }

        .expos{
            width: 90%;
            margin: auto;
            }

        .aside{
            position: relative;
            }

        .regresar{
            margin-top: 10px;
            color: var(--azulEmpresarial);
            }

        .imagen1,
        .imagen2,
        .nota1{
            max-width: 90%;
            min-width: 85%;
            margin-top: 30px;
            }
/* mediaexporimport */
        .master{
            display: block;
        }

        .hedaerFAQ__des,
        .des--FAQ{
            display: none;
        }

        .FAQ__preguntas{
            width: 80%;
            margin: auto;
            margin-bottom: 25px;
        }

        .titulo--FAQ{
            margin-top: 10px;
            margin-bottom: 15px;
        }

/* mediadirectorio */
        .paises--layout{
        display: block;    
        }

        .headerDIR{
            margin:0;
            padding-top: 20px;
        }

        .datos--foto{
            margin: auto;
            width: 150px;
        }

        .direcctorio__datos{
            margin: 60px auto;
            background-color: rgb(232, 235, 238);
            border-radius: 0 10px;
            padding: 10px;
            justify-items: center;
        }
        
        .paises--dir,
        .contactos--whatsapp{
            color: #2b3256;
        }
}