@media screen and (max-width:450px){
  /** responsive index **/
    .tgc{
        font-size: 1rem
    }
    
    .barra1{
        width: 100vw;
        max-height: 70px;
        position: fixed;
        bottom: 0;
        z-index: 1;
        }
    .presen{
        flex-direction: column;
        margin-bottom: 100px;
    }
    .baner{
        max-width: 80%;
        margin: auto;
        min-height: 450px;
        max-height: 450px;
    }
    .desc{
        margin: 0 auto;
    }

    .imgtra{
        width: 90%;
    }
    .imagen{
        height: 50px;
    }
    .botgc{
        visibility: hidden;
    }
}